@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Scrollbar */
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Small caps */
  .all-small-caps {
    font-variant-caps: all-small-caps;
  }
  .small-caps {
    font-variant-caps: small-caps;
  }  
}
